@tailwind base;
@tailwind components;
@tailwind utilities;

.sideBarHover {
  @apply hover:border-l-4 hover:bg-green-50 hover:border-l-teal-500 hover:cursor-pointer transition duration-100;
}

.linkActive {
  @apply border-l-4 bg-green-50 border-l-teal-500 cursor-pointer;
}

.userDetailHover {
  @apply hover:border-b-4 hover:border-teal-500 hover:cursor-pointer;
}

.avenir {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.avenirbold {
  font-family: "Avenir Next LT Pro", sans-serif;
  font-weight: 700;
  @apply leading-snug;
}

.work-sans,
th,
td,
select,
p {
  font-family: "Montserrat", sans-serif;
}

td {
  font-weight: 400;
  color: #545f7d;
}
